<!--.cont>.panel.small-3.medium-6.large-6.columns*3>((h5>lorem50)+(p>lorem20))-->
<div class="content">
    <div class="panel small-3 medium-6 large-6 columns">
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur, cum eveniet ex libero
            praesentium quibusdam temporibus voluptatem. Ea eveniet exercitationem maxime quod! Accusamus architecto
            dicta ducimus eius, fuga id in incidunt labore modi necessitatibus neque nisi obcaecati odio quidem
            recusandae reiciendis rem reprehenderit rerum saepe sapiente temporibus veniam voluptatem.</h5>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, tempore, unde? Commodi delectus harum
            nostrum vero! At, hic quia? Itaque!</p>
    </div>
    <div class="panel small-3 medium-6 large-6 columns">
        <h5>At dolores fugit, incidunt minus numquam qui sapiente voluptatum? Architecto aspernatur assumenda commodi
            consequatur cum cumque earum, eveniet facere illum, minima numquam porro sed tempora unde voluptates.
            Aliquid asperiores debitis, deleniti eaque eius est ex laboriosam maiores nesciunt nobis, obcaecati placeat
            quae quaerat qui recusandae reiciendis repellat sed similique voluptate!</h5>

        <p>Asperiores atque consequuntur culpa delectus distinctio esse eum, facilis id natus, necessitatibus nesciunt
            nobis odio pariatur quaerat quia sed similique.</p>
    </div>
    <div class="panel small-3 medium-6 large-6 columns">
        <a class="btn btn-info" data-ng-click="loguot()">Logout</a>
    </div>
    <div class="text-center" copyright></div>
</div>